@font-face {
  font-family: Angeliny-Regular; 
  src: url(../fonts/Angeliny-Regular.ttf);
  }

.back{
height: 200px;
height: 25vh;
background: url(../images/backimg/1.jpg) no-repeat;  
background-attachment:fixed;
background-position-x: center;
background-position-y: -300px;
background-position-y: -45vh;
background-size: cover;


/* overflow: hidden; */
/* background-position: left top; */
/* position:absolute;  */
}

h1{
  /* display: block; */
  font-family: Angeliny-Regular;
  font-size: 140px;
  font-size: 18vh;
  /* color: indigo; */
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-weight: 500;
  margin: 0;
  text-shadow:0 0 10px rgba(0, 0, 0, 0.8);
  /* text-shadow:0 0 10px rgba(255, 255, 255, 0.5); */

  /* padding-top: 10vh; */
  /* top: 0; */

  /* margin-right: -50%; */
  /* transform: translate(-50%, -50%) */
  /* height: ; */

  
}

/* .gallery-title
{
  font-family: Angeliny-Regular;
    font-size: 140px;
    color: indigo;
    text-align: center;
    font-weight: 500;
     margin-bottom: 70px; 
} */



.filter-button
{
  /* border:none; */
  /* background-color:unset; */
  /* color: #ffffff71; */
    font-size: 18px;
    /* border: 1px solid indigo; */
    text-align: left;
    color: rgba(255, 255, 255, 0.70) ;
    margin: 3px;
    margin-right: 10px;
    cursor: pointer;
}

.filter-button:before{
  left: 10px;
  height: 27px;
  margin-top: -2px;
  /* bottom: -1px; */
  content: '';
  position: absolute;
  border-left: 1px solid rgb(141, 141, 141);
  width: 0;
  /* top: 0; */
  transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.filter-button:hover:before{
  border-left: 3px solid rgb(141, 141, 141);
  /* left: 9px; */
}

 /* .filter-button:active::before{ */
  /* border-left: 3px solid indigo; */
  /* left: 9px; */
/* } */
.active{
  color: indigo ;
}

.active:before{
  border-left: 3px solid indigo;
  /* left: 9px; */
}




.filter-button:hover
{
    /* font-size: 18px; */
    /* border: 1px solid indigo; */
    color: #ffffff;
    /* background-color: indigo; */

}
/* .btn-default:active .filter-button:active
{
    background-color:indigo;
    color: white;
} */

/* .port-image
{
    width: 100%;
} */

.gallery_product
{
    margin-bottom: 30px;
    overflow: hidden;
    background-color:indigo;
}

/*  */
  .container{

    top: 20px;
    /* display: block; */
    position: relative;
    /* margin: 10px; */

  /* --img-bg-color: rgb(240, 240, 240); */
  }

  .gallery{
    position: relative;
    display: grid;
    /* flex-direction: row; */
    grid-template-columns: max-content 1fr;
  }

  .filters{
    display: flex;
    justify-content:left;
    flex-direction: column;
    width: 200px; 
    padding: 5px;
    margin-left: 20px;
  }


  .photos{
    position: relative;
    display: block;
    /* width: 100%; */

    /* Prevent vertical gaps */
    line-height: 0;
    
    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           10px;
    margin: 10px;
 }
 
 .photos div {
   /* Just in case there are inline attributes */
   width: 100%;
   margin-bottom: 10px;
   /* height: auto ; */
 }
  /* .photos div:hover {
    opacity: 0.3;
  } */


  .photos img {
    object-fit: cover;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: 0.25s;
  }

  .photos img:hover {
    opacity: 0.5;
    transition: 0.5s;
    transform: scale(1.1);
  }

  .height1{
      height: 50%;
      height: 27vh;
  }
  .height2{
      height: 55%;
      height: 37vh;
  }
  .height3{
      height: 60%;
      height: 33vh;
  }
  .height4{
      height: 65%;
      height: 24vh;
  }
  .height5{
      height: 70%;
      height: 30vh;
  }

  .full {
    position: fixed;
    /* left: 0; */
    top: 0;
    width: auto;
    height: auto;
    z-index: 1;
    transition: 0.5s;
    /* background-color: lawngreen; */
  }

  .bg{
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
    

    background-color: rgba(0, 0, 0, 0.9)
  }

  .full .bg img
  {
    position: absolute;
    top: 50vh;
    transform: translate(0, -50%);
    /* padding-top: 100%; */

    position: relative;
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;

  }


 
 @media screen and (max-width: 1200px) {
   .photos {
   -moz-column-count:    4;
   -webkit-column-count: 4;
   column-count:         4;
   }
 }
 @media screen and (max-width: 1000px) {
   .photos {
   -moz-column-count:    3;
   -webkit-column-count: 3;
   column-count:         3;
   }
 }
 @media screen and (max-width: 800px) {
   .photos {
   -moz-column-count:    2;
   -webkit-column-count: 2;
   column-count:         2;
   }


 }
 @media screen and (max-width: 400px) {
   .photos {
   -moz-column-count:    1;
   -webkit-column-count: 1;
   column-count:         1;
   }


 }

@media screen and (max-width: 600px) 
{
  .gallery{
  grid-template-columns: auto;
  }
  .filters{
    width: auto; 
    display: flex;
    flex-direction: row;
    /* width: 100vw; */
    flex-wrap: wrap;
    text-align: left;
  }
}

@media screen and (max-height: 700px) 
{
  .height1{
    height: 270px;
}
.height2{
    height: 370px;
}
.height3{
    height: 330px;
}
.height4{
    height: 240px;
}
.height5{
    height: 300px;
}
}

