body {
    background: #000000;
    /* background-position: top center; */
    /* background-size: 100%; */
    color: rgb(255, 255, 255); 
    /* background-attachment: fixed; */
    /* background-repeat: no-repeat; */
    margin: 0px;
    padding: 0px;
    /* width: 100%; */
    position:fixed
   }

   html {
    /* width: 100%; */
    overflow:  hidden; 
    
}

.slider_container img{
    width: 100vw;
    
    max-width: 100%;
    height: auto;
    min-height: 100vh;
    /* min-height: 1200px; */
    /* max-width: 100%; */
    /* width: 100%; */
    position: relative;
    /* min-height: 50%; */
     /* min-height:  50vh;  */
     /* object-fit: cover; */

     object-fit: cover;
}

/* .sl{
    justify-content: center;
    align-content: center;
} */

    #caption_slider {

       /* width: 100%; */
       position: relative;
     /* height: 427px; */
  /* min-width: 500px; */

    }






#header{
    position: absolute;
    top: 20vh;
    left: 50vw;
    z-index: 100;


}

#name {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: -100%;
}

#who{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: -100%;
}

#social{
    position: absolute;
    /* top: 30vh; */
    top: 60vh;
    display: flex;
    justify-content: center;
    margin-left: -130px;
    padding-inline-start: 0px;
    
}

#social li {
    list-style-type: none;
    text-align: center;
    
    /* background-color: rgb(133, 196, 247); */
    /* width: 10px; */
    /* height: 10px; */
    /* border-radius: 50%; */
    margin-right: 32px;
    padding: 10px;

}
li img{
    /* display: block; */
    position: absolute;
    max-height: 32px;
    max-width: 32px;
    

}
a{
    position:relative;

}

.coloured{
    opacity: 0;
    transition: 1s ease;
}
.coloured:hover{
    opacity: 1;

}

.bw{
    
    background-color: rgba(230, 230, 250, 0.274);
    border-radius: 50%;
    opacity: 1;

}

.bw:hover {
    opacity: 0;
}
